@use '~/assets/css/fonts.css';
@use '~/assets/settings.scss';

* {
  margin: 0;
}

body {
  font-family: 'Nunito', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

.v-application {
  font-family: 'Nunito', sans-serif;
}

.v-theme--light {
  --v-hover-opacity: 0.04;
  --v-theme-overlay-multiplier: 1;
}

.v-theme--dark {
  --v-hover-opacity: 0.04;
  --v-theme-overlay-multiplier: 1;
}
